.rt-modal-class {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
.rt-modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    margin-top: 20%;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}
.rte-message-class {
    width: 30% !important;
    height: 20px !important;
}
.rt-bulletlist {
    list-style-type: disc !important;
    list-style-position: inside;
}
.rt-notes-header {
    padding-bottom: 5px !important;
}

.rt-modal-body {
    font-size: 15px;
}

.rt-modal-close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.rt-modal-close:hover,
.rt-modal-close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.rt-modal-header {
    padding-top: 2px;
    padding-bottom: 6px;
    padding-right: 2px;
    padding-left: 0px !important;
    left: 0 !important;
    margin-left: 0 !important;
    background-color: white;
}

#installed-img {
    vertical-align: middle;
}
#outdated-img {
    vertical-align: middle;
}
#unsupported-img {
    vertical-align: middle;
}

.install-div {
    font-size: 22px !important;
    border: 1px dashed gray;
}